<footer style="text-align: center; padding: 0px 0; background-color: #f8f9fa;">
    <div class="footer-wrapper" style="max-width: 1200px; margin: 0 auto; display: flex; flex-direction: column; align-items: center;">
        <span class="logo" style="margin-bottom: 20px;">
            <img src="static/img/mic_logo.jpg" alt="" style="display: block; margin: 0 auto;">
        </span>
        <div class="row" style="width: 70%; display: flex; justify-content: space-between; align-items: center;">
            <div class="col-sm-4 address" style="text-align: left; flex: 1;">
                <strong>Address: </strong>Madni Inter College Huzoorpur Road Kaiserganj District Bahraich U.P.-271903
            </div>

            <div class="col-sm-4 footer-social" style="flex: 1; right-margin: 250px;">
                <a href="https://www.facebook.com/profile.php?id=100064111592603" target="_blank" style="margin-right: 20px; color: #3b5998; text-decoration: none;">
                    <i class="fa fa-facebook" aria-hidden="true" title="Official Facebook Page" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.linkedin.com/in/madni-inter-college-kaiserganj-51943a295?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3By7gfcxDIQnWe5VFvGHHD0Q%3D%3D" target="_blank" style="margin-right: 20px; color: #0077b5; text-decoration: none;">
                    <i class="fa fa-linkedin" aria-hidden="true" title="LinkedIn Profile" style="font-size: 24px;"></i>
                </a>
                <a href="#!" title="" style="color: #1da1f2; text-decoration: none;">
                    <i class="fa fa-twitter" aria-hidden="true" title="Official Twitter Account" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
