<footer>
    <div class="footer-wrapper">
        <span class="logo"><img src="static/img/mic_logo.jpg" alt=""></span>
        <div class="row">
            <div class="col-sm-4 address">
                <strong>Address : </strong>Madni Inter College Huzoorpur Road Kaiserganj District Bahraich U.P.-271903
            </div>

            <div class="col-sm-4 footer-social">
                <a href="https://www.facebook.com/profile.php?id=100064111592603" target="_blank"><i class="fa fa-facebook " aria-hidden="true " title="Official Facebook Page "></i></a>
                <a href="https://www.linkedin.com/in/madni-inter-college-kaiserganj-51943a295?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3By7gfcxDIQnWe5VFvGHHD0Q%3D%3D" target="_blank"><i class="fa fa-linkedin " aria-hidden="true " title="LinkedIn Profile "></i></a>
                <a href="#! " title=" "><i class="fa fa-twitter " aria-hidden="true" title="Official Twitter Account "></i></a>
            </div>
        </div>
    </div>
</footer>