{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MADNI INTER COLLEGE | RTI</title>
    <link rel="icon" type="image/png" href="static/img/mic_logo.jpg">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>College Admission Form</title>
</head>

<body>
    <div class="container" style="max-width: 600px; margin-top: 30px;">
        <div style="border: 1px solid #ccc; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
            <h2 style="text-align: center; margin-bottom: 20px; font-weight: bold;">
                College Admission Form
            </h2>
            <form action="{% url 'form' %}" method="POST" name="google-sheet">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" style="font-weight: bold;">Full Name:</label>
                    <input type="text" id="name" name="Full_Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="father_name" style="font-weight: bold;">Father's Name:</label>
                    <input type="text" id="father_name" name="Father_Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="mother_name" style="font-weight: bold;">Mother's Name:</label>
                    <input type="text" id="mother_name" name="Mother_Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email" style="font-weight: bold;">Email:</label>
                    <input type="email" id="email" name="Email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phone" style="font-weight: bold;">Phone Number:</label>
                    <input type="tel" id="phone" name="Contact" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="whatsapp" style="font-weight: bold;">Whatsapp Number:</label>
                    <input type="text" id="whatsapp" name="Whatsapp_Contact" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="address" style="font-weight: bold;">Address:</label>
                    <input type="text" id="address" name="Address" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="dob" style="font-weight: bold;">Date of Birth:</label>
                    <input type="text" id="dob" name="Date_of_Birth" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="gender" style="font-weight: bold;">Gender:</label>
                    <input type="text" id="gender" name="Gender" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="class" style="font-weight: bold;">Select Class:</label>
                    <input type="text" id="class" name="Class" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/434d359724.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="popover"]').on('click', function(e) {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });
        });
    </script>
</body>

</html>
{% endblock content %}
